<!DOCTYPE html>
<html lang='en-US'>
<head>
  <meta http-equiv='Content-type' content='text/html;charset=utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='description' content='A simple tool to grab a random grimdark wise-saying.' />
  <title>Proverbinatus</title>
  <link rel='shortcut icon' href='assets/logo.png' type='image/x-icon' />
  <link rel='apple-touch-icon' sizes='144x144' href='assets/apple-touch-icon-144x144.png' />
  <link rel='apple-touch-icon' sizes='114x114' href='assets/apple-touch-icon-114x114.png' />
  <link rel='apple-touch-icon' sizes='72x72' href='assets/apple-touch-icon-72x72.png' />
  <link rel='apple-touch-icon' href='assets/apple-touch-icon.png' />
  <link href='assets/app.css' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css' />
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33677862-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
</head>
<body>
  <main class='page'>
    <blockquote class='proverb'>
      <p class='proverb-body'></p>
    </blockquote>

    <button class='proverb-generate' type='button'>Random proverb</button>

    <footer class='page-footer'>
      <span class='logo'>
        <img class='logo-image' src='assets/logo.png' alt='' />
        <span class='logo-text'>Proverbinatus</span>
      </span>

      <p class='page-footer-text'><del>Warhammer 40,000&reg;</del> Mr. Rogers' words of wisdom</p>
    </footer>
  </main>

  <script src='assets/app.js'></script>
</body>
</html>
