<!DOCTYPE html>
<html lang='en-US'>
<head>
  <meta http-equiv='Content-type' content='text/html;charset=utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='description' content='A small tool to grab a random grimdark wise saying.' />
  <title>Proverbinatus</title>
  <link rel='shortcut icon' href='/favicon.ico' />
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= css :app %>
  <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Caudex' rel='stylesheet' type='text/css'>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33677862-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
</head>
<body>
  <div id='page'>
    <div id='proverb'>
      <blockquote></blockquote>
    </div>

    <button id='random-proverb' type='button'>Random proverb</button>

    <header>
      <span id='logo'><img src='/images/logo.png' alt='' /> <span>Proverbinatus</span></span>
      <p>Warhammer 40,000&reg; words of wisdom</p>
    </header>
  </div>
  <%= js :app %>
</body>
</html>
